In [1]:
import pandas as pd
arquivo = pd.read_csv('C:/Users/Casa/Desktop/vinhos/wine_dataset.csv')

In [2]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
arquivo['style'] = arquivo['style'].replace('red', 0)

In [4]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [5]:
y = arquivo ['style']
x = arquivo.drop('style', axis = 1)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:


from sklearn.model_selection import train_test_split

#cria conjunto de dados de treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [8]:
from sklearn.ensemble import ExtraTreesClassifier
#cria modelo
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier()

In [9]:
#resultados
resultado = modelo.score(x_teste,y_teste)
print("Acurácia: ", resultado)

Acurácia:  0.9969230769230769

In [10]:


y_teste[400:403]

806     0
4917    1
5829    1
Name: style, dtype: int64

In [11]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
806,8.4,0.25,0.39,2.0,0.041,4.0,10.0,0.99386,3.27,0.71,12.5,7
4917,6.6,0.16,0.35,1.8,0.042,26.0,105.0,0.98962,3.19,0.75,12.4,7
5829,6.0,0.22,0.23,5.0,0.045,10.0,122.0,0.99261,2.94,0.63,10.0,6

In [12]:
previsoes = modelo.predict(x_teste[400:403])

In [15]:
previsoes

array([0, 1, 1], dtype=int64)